.wrap {
    width: 400px;
    margin: 0 auto;

    .timer-wrap {
        width: 100%;
        background-color: white;
        margin-top: 30px;

        .display-wrap {
            text-align: center;
            background-color: #000;
        }

        .toolbar {
            height: 70px;

            > div {
                height: 100%;
                float: left;
                text-align: center;
                cursor: pointer;

                > * {
                    padding-top: 17px;
                }

                &:not(:last-child) {
                    border-right: 1px solid rgba(97, 97, 97, 0.33);
                }

                * {
                    font-size: 20px;
                }

                i {
                    font-size: 30px;
                }
            }

            .start {
                width: 50%;

                > div {
                    display: table;
                    margin: 0 auto;

                    > * {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            .timer {
                width: 25%;
            }

            .remove {
                width: 25%;
            }
        }
    }

    .stop-list {
        > div {
            position: relative;
            width: 100%;
            border-bottom: 1px solid white;
            margin-bottom: 10px;

             > div {
                 display: inline-block;

                 &.remove {
                     display: table;
                     position: absolute;
                     right: 0;
                     top: 0;
                     bottom: 0;
                     margin: auto;
                     cursor: pointer;

                     > div {
                         display: table-cell;
                         vertical-align: middle;
                         background-color: red;
                         padding: 3px 15px;
                         color: white;
                         text-transform: uppercase;
                     }
                 }
             }
        }
    }
}

#stop-list-template {
    display: none;
}