<div class="wrap">
    <div class="timer-wrap">
        <div class="display-wrap">
            <canvas id="display" width="200" height="80"></canvas>
        </div>
        <div class="toolbar row">
            <div class="start col-sm-6" (click)="switchStopwatch()">
                <div *ngIf="play == false">
                    <i class="material-icons">play_arrow</i>
                    <span>
                    Play
                </span>
                </div>
                <div class="pause" *ngIf="play == true">
                    <i class="material-icons">pause</i>
                    <span>
                    Pause
                </span>
                </div>
            </div>
            <div class="timer col-sm-3" (click)="addStopTimer()">
                <i class="material-icons">timer</i>
            </div>
            <div class="remove col-sm-3" (click)="removeStopwatch()">
                <i class="material-icons">delete</i>
            </div>
        </div>
    </div>
    <div class="stop-list">

    </div>
</div>

<div id="stop-list-template">
    <div class="timer">
        <canvas id="stop-list-1" class="display" width="100" height="40"></canvas>
    </div>
    <div class="remove">
        <div>
            Remove
        </div>
    </div>
</div>