@import "variables.scss";

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #616161;
}

* {
    font-family: "Roboto", sans-serif;
    color: #616161;

    &::selection {
        color: #fff;
        background-color: #76ac64;
    }

    .md-button-wrapper {
        color: $main-color-3;
    }
}

.row, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}