$main-color-1: #323b44;
$main-color-2: #a3030b;
$main-color-3: #ffffff;
$main-color-4: #535c65;
$main-color-5: #7c838a;
$main-color-6: #c59d63;

$main-offset-xs: 5px;
$main-offset-s: 10px;
$main-offset-m: 15px;
$main-offset-l: 20px;
$main-offset-xl: 25px;
$main-offset-xxl: 30px;
$main-offset-xxxl: 35px;

$main-wrap-min-width: 1150px;
$main-wrap-max-width: 1150px;
$main-header-height: 70px;

$main-font-size-xs: 10px;
$main-font-size-s: 13px;
$main-font-size-m: 14px;
$main-font-size-l: 16px;
$main-font-size-xl: 18px;
$main-font-size-xxl: 20px;
$main-font-size-xxxl: 22px;

.disable-select-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}